<Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
    <Text>@FeatureName</Text>

        @if (IsEnabled)
        {
            <Icon Name=IconName.Check />
        }
        else
        {
            <Icon Name=IconName.Times />
        }
    </Div>

@code {
    [Parameter]
    public required string FeatureName { get; set; }

    [Parameter]
    public required bool IsEnabled { get; set; }
}