@using Microsoft.Extensions.Options;
@using Devantler.DataProduct.Core.Configuration.Options;

@inject IOptions<DataProductOptions> Options

<Jumbotron Background="Background.Light">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">Welcome to the @Options.Value.Name</JumbotronTitle>
    <JumbotronSubtitle>
        @Options.Value.Description
    </JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        The dashboard shows the following information:
        <ul>
            <li>The schema of the data.</li>
            <li>The features, and whether they are enabled or not.</li>
            <li>The services in use by the data product.</li>
        </ul>

        Furthermore it provides easy access to dependent services, by embedding them in the dashboard. You can access
        the embedded services by clicking the links in the navigation bar.
    </Paragraph>
</Jumbotron>
