@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <NavBar></NavBar>
    </LayoutHeader>
    <LayoutContent>
        <Container Fluid>
            <main>
                @Body
            </main>
        </Container>
    </LayoutContent>
    <LayoutFooter>
        Footer
    </LayoutFooter>
</Layout>
