[*.{cs,vb}]
# Rule: Do not suggest calling ConfigureAwait
dotnet_diagnostic.CA2007.severity = none

[{*Test.cs,*Tests.cs}]
# Style: Public test methods should be Pascal_Snake_Case
dotnet_naming_rule.public_method_pascal_snake_case.symbols = public_method
dotnet_naming_rule.public_method_pascal_snake_case.style = pascal_snake_case
dotnet_naming_rule.public_method_pascal_snake_case.severity = warning

#Rule: Identifiers are allowed to contain underscores
dotnet_diagnostic.CA1707.severity = none
