@using Chr.Avro.Abstract;

<Card Background="Background.White" Margin=Margin.Is2.FromBottom>
    <CardBody>
        <CardTitle Size="5">
            @Schema.Name
        </CardTitle>
        <CardText>
            @foreach (var field in Schema.Fields)
            {
                <div>
                    <p><strong>@field.Name</strong> - @field.Type.ToString().Replace("Schema", "")@if
                    (!string.IsNullOrEmpty(field.Documentation))
                        {
                            -
                    <em>@field.Documentation</em>
                        }</p>
                </div>
            }
        </CardText>
    </CardBody>
</Card>

@code {
    [Parameter]
    public required RecordSchema Schema { get; set; }
}